@import "/styles/globals.css";

.header {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 1.6rem 0;
  max-width: 110rem;

  @media (max-width: 850px) {
    gap: 2rem;
  }
}

.logo {
  font-size: 2rem;
}

.searchBox {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;

  //@media (max-width: 850px) {
  //  width: 20rem;
  //}

  @media (max-width: 755px) {
    display: none;
  }
}

.searchField {
  border: none;
  font-size: 1.6rem;
  outline: none;
  height: 3rem;
  min-width: 30rem;

  //@media (max-width: 850px) {
  //  width: 12rem;
  //}

  &::placeholder {
    color: var(--text-grey);
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  svg {
    cursor: pointer;
  }
}

.link {
  font-size: 1.6rem;
  margin-left: auto;

  //@media (max-width: 630px) {
  //  display: none;
  //}
}

.social {
  @media (max-width: 755px) {
    display: none;
  }
}

.searchButton {
  display: none;

  @media (max-width: 755px) {
    display: block;
  }
}