.card {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
  margin: 3rem 0;
  height: 34.5rem;

  @media (max-width: 555px) {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    align-items: start;
  }

  .textArea {
    max-width: 55rem;
    padding: 3rem 6rem;

    @media (max-width: 840px) {
      padding: 5% 10%;
    }

    @media (max-width: 630px) {
      padding: 2% 5%;
    }

    @media (max-width: 555px) {
      width: 100%;
      padding: 7% 5%;
    }


    h2 {
      font-size: 3rem;
      margin: 0;
      color: var(--heading-color);

      @media (max-width: 555px) {
        font-size: 2rem;
      }
    }

    p {
      color: var(--text-grey);
      font-size: 1.5rem;
      margin: 4rem 0;

      @media (max-width: 555px) {
        margin: 2rem 0;
      }
    }

    span {
      font-size: 1.4rem;
      color: var(--text-grey);
      font-weight: 300;
    }

    a {
      color: var(--heading-color);
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  object-fit: cover;
}