.footer {
  width: 100%;
  border-top: 1px solid #E8E8E8;
  margin-top: 5rem;
}

.content {
  max-width: 108rem;
  height: 6rem;
  padding: 0 2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;


  @media (max-width: 600px) {
    flex-direction: column;
    height: fit-content;
    padding: 2rem;
    //height: 10rem;
  }
}

.copyright {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 1rem;


  @media (max-width: 600px) {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

.logo {
  font-weight: 600;
}

.icons {
  display: flex;
  align-items: center;
  gap: 3rem;
}